body{
    overflow: hidden;
    background-color: rgb(241,241,241);
}

.mono{
    font-family: monospace;
}

#homepagetext{
    font-family: sans-serif;
}

.container{

    position: absolute;
    left: 50%;
    top: 78%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


p{
    color: transparent;
}

#demo{ color: transparent; }



